.product{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-height: 400px;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.product__rating{
    display: flex;
}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: content;
    margin-bottom: 15px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}
.product__price{
    margin-top: 5px;
}
button{
    background-color: rgb(221, 152, 63);
}
.product__rating {
    display: flex;
  }
  
  .product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }